<?xml version="1.0"?>
<configuration>
	
	<!-- Setup a few logger instances to test with. -->
	<configSections>
		<sectionGroup name="BlendedCache">
			<section name="Settings" type="BlendedCache.BlendedCacheConfigurationSection, BlendedCache.Framework"/>
			<section name="Logging" type="BlendedCache.Logging.LoggerConfigurationSection, BlendedCache.Framework"/>
		</sectionGroup>
	</configSections>

	<BlendedCache>

		<Settings enforceAllLoadedTypesAreConfigDefined="false">
		</Settings>

		<!--
			minimalLoggingLevel (Default: "None") : 
			
				Defines the minimal level of logging for the application.  Set it to one
				of the following, and everything above it will be logged:
				
					None (Default)
					Fatal
					Error
					Warn
					Info
					Debug
					Trace
				
		-->
		<Logging minimalLoggingLevel="None">
			<!-- 
				You can define multiple loggers for BlendedCache.  If you don't specify which one
				to use in code, the first one listed will be used as the default for the system.
				
				TODO: for the loggers, perhaps add the ability to set default values in these nodes instead of having the end-user
					implement their own log4net.config or nlog.config files?  a way to pass in values directly from here?
			-->
			<addLoggerFactory name="Log4NetLoggerFactory" type="BlendedCache.Logging.Log4Net.Log4NetLoggerFactory, BlendedCache.Logging.Log4Net"/>
			<addLoggerFactory name="NLogLoggerFactory" type="BlendedCache.Logging.NLog.NLogLoggerFactory, BlendedCache.Logging.NLog"/>
		</Logging>

	</BlendedCache>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
