<?xml version="1.0"?>
<configuration>
	
	<!-- Setup a few logger instances to test with. -->
	<configSections>
		<sectionGroup name="BlendedCache">
			<section name="Settings" type="BlendedCache.BlendedCacheConfigurationSection, BlendedCache.Framework"/>
			<section name="Logging" type="BlendedCache.Logging.LoggerConfigurationSection, BlendedCache.Framework"/>
		</sectionGroup>
	</configSections>

	<BlendedCache>

		<Settings enforceAllLoadedTypesAreConfigDefined="false">
		</Settings>

		<!--
			loggerLevelMinimal : (optional, default: "None")
				Defines the minimal level of logging for the application.  Set it to one
				of the following, and everything above it will be logged:
				
					None (Default)
					Fatal
					Error
					Warn
					Info
					Debug
					Trace
			
			loggerFactoryType :
				Specify the type that implements the BlendedCache.Logging.ILoggerFactory interface.
		-->
		<Logging
			loggerLevelMinimal="Warn"
			loggerFactoryType="BlendedCache.Logging.Log4Net.Log4NetLoggerFactory, BlendedCache.Logging.Log4Net" />
		<!--<Logging
			minimalLogLevel="Warn"
			loggerFactoryType="BlendedCache.Logging.NLog.NLogLoggerFactory, BlendedCache.Logging.NLog" />-->

	</BlendedCache>

</configuration>
